<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AmvalSystem.Properties.Settings.Db_AsnadConnectionString"
            connectionString="Data Source=DESKTOP-LJTEU1J\sqlexpress;Initial Catalog=Db_Asnad97_Medu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AmvalSystem.Properties.Settings.Db_Asnad97_MeduConnectionString"
            connectionString="Data Source=DESKTOP-LJTEU1J\sqlexpress;Initial Catalog=Db_Asnad97_Medu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    <requiredRuntime version="v4.0.20506" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Stimulsoft.Editor" publicKeyToken="ebe6666cba19647a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2015.2.0.0" newVersion="2015.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
